@import './card-component.css';

/* pro 레이아웃 */

* 기본 리셋 */ * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

/* ipad pro - Grid */
.ipad {
  min-height: 100vh;
  align-content: start;
  padding-top: 80px;
  gap: 12px;
}
/* 텍스트 영역 */
.ipad-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.title {
  font-size: 35px;
  font-weight: 700;
}

.desc1 {
  font-size: 1.25rem;
  line-height: 1.5;
  opacity: 0.9;
}
.desc2 {
  font-size: 17px;
  color: var(--gray);
}

/* 버튼 영역 - Flex */
.actions {
  display: flex;
  gap: 12px;
  margin-top: 4px;
  z-index: 10;
  position: relative;
}

.btn {
  padding: 8px 16px;
  font-size: 0.875rem;
  border-radius: 999px;
  text-decoration: none;
  transition: 0.2s;
}

.btn.primary {
  background: #0071e3;
  color: #fff;
}

.btn.primary:hover {
  background: #147ce5;
}

.btn.ghost {
  color: #0071e3;
}

/* 이미지 영역 */
.ipad-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -200px;
}
.ipad-image img {
  width: 100%;
  max-width: 1024px;
}

/* Air 레이아웃 - Grid */
.ipad {
  min-height: 100vh;
  align-content: start;
  padding-top: 80px;
  gap: 12px;
}
/* 텍스트 영역 */
.ipad-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.title1 {
  font-size: 35px;
  font-weight: 700;
  color: #000;
}

.desc3 {
  font-size: 1.25rem;
  line-height: 1.5;
  opacity: 0.9;
  color: #000;
}
.desc4 {
  font-size: 17px;
  color: var(--gray);
}

/* 버튼 영역 - Flex */
.actions {
  display: flex;
  gap: 12px;
  margin-top: 4px;
  z-index: 10;
  position: relative;
}

.btn {
  padding: 8px 16px;
  font-size: 0.875rem;
  border-radius: 999px;
  text-decoration: none;
  transition: 0.2s;
}

.btn.primary1 {
  background: #000;
  color: #fff;
}

.btn.primary:hover {
  background: #147ce5;
}

.btn.ghost1 {
  color: #000;
}

/* 이미지 영역 */
.ipad-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -200px;
}
.ipad-image img {
  width: 100%;
  max-width: 1024px;
}

/* iphone 15 pro 레이아웃 - Grid */
.ipad {
  min-height: 100vh;
  align-content: start;
  padding-top: 80px;
  gap: 12px;
}
/* 텍스트 영역 */
.ipad-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.title2 {
  font-size: 35px;
  font-weight: 700;
  color: var(--white);
}

.desc5 {
  font-size: 1.25rem;
  line-height: 1.5;
  opacity: 0.9;
  color: var(--white);
}
.desc6 {
  font-size: 17px;
  color: var(--gray);
}

/* 버튼 영역 - Flex */
.actions {
  display: flex;
  gap: 12px;
  margin-top: 4px;
  z-index: 10;
  position: relative;
}

.btn {
  padding: 8px 16px;
  font-size: 0.875rem;
  border-radius: 999px;
  text-decoration: none;
  transition: 0.2s;
}

.btn.primary2 {
  background: #0072e3;
  color: #fff;
}

.btn.primary:hover {
  background: #147ce5;
}

.btn.ghost2 {
  color: #0072e3;
}

/* 이미지 영역 */
.ipad-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -200px;
}
.ipad-image img {
  width: 100%;
  max-width: 1024px;
}

/* iphone 15 */

.ipad {
  min-height: 100vh;
  align-content: start;
  padding-top: 80px;
  gap: 12px;
}
/* 텍스트 영역 */
.ipad-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.title3 {
  font-size: 35px;
  font-weight: 700;
  color: var(--black);
}

.desc7 {
  font-size: 1.25rem;
  line-height: 1.1;
  opacity: 0.9;
  color: #000;
}
.desc8 {
  font-size: 17px;
  color: var(--gray);
}

/* 버튼 영역 - Flex */
.actions {
  display: flex;
  gap: 12px;
  margin-top: 4px;
  z-index: 10;
  position: relative;
}

.btn {
  padding: 8px 16px;
  font-size: 0.875rem;
  border-radius: 999px;
  text-decoration: none;
  transition: 0.2s;
}

.btn.primary3 {
  background: #000;
  color: #fff;
}

.btn.primary:hover {
  background: #147ce5;
}

.btn.ghost3 {
  color: #000;
}

/* 이미지 영역 */
.ipad-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -200px;
}
.ipad-image img {
  width: 100%;
  max-width: 1024px;
}

/* WATCH 레이아웃 */

.ipad {
  min-height: 100vh;
  align-content: start;
  padding-top: 80px;
  gap: 12px;
}
/* 텍스트 영역 */
.ipad-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.title3 {
  font-size: 35px;
  font-weight: 700;
  color: var(--white);
}

.desc9 {
  font-size: 1.25rem;
  line-height: 1.5;
  opacity: 0.9;
  color: var(--white);
}
.desc10 {
  font-size: 17px;
  color: var(--gray);
}

/* 버튼 영역 - Flex */
.actions {
  display: flex;
  gap: 12px;
  margin-top: 4px;
  z-index: 10;
  position: relative;
}

.btn {
  padding: 8px 16px;
  font-size: 0.875rem;
  border-radius: 999px;
  text-decoration: none;
  transition: 0.2s;
}

.btn.primary4 {
  background: #0071e3;
  color: #fff;
}

.btn.primary:hover {
  background: #147ce5;
}

.btn.ghost4 {
  color: #0071e3;
}

/* 이미지 영역 */
.ipad-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -200px;
}
.ipad-image img {
  width: 100%;
  max-width: 1024px;
}

/* MacBookAir 레이아웃*/

.ipad {
  display: grid;
  grid-template-rows: auto auto;
  min-height: unset;
  align-content: start;
  padding-top: 80px;
  gap: 12px;
}
/* 텍스트 영역 */
.ipad-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.title4 {
  font-size: 35px;
  font-weight: 700;
  color: #000;
}

.desc11 {
  font-size: 1.25rem;
  line-height: 1.5;
  opacity: 0.9;
  color: #000;
}
.desc12 {
  font-size: 17px;
  color: var(--gray);
}

/* 버튼 영역 - Flex */
.actions {
  display: flex;
  gap: 12px;
  margin-top: 4px;
  z-index: 10;
  position: relative;
}

.btn {
  padding: 8px 16px;
  font-size: 0.875rem;
  border-radius: 999px;
  text-decoration: none;
  transition: 0.2s;
}

.btn.primary5 {
  background: #000;
  color: #fff;
}

.btn.primary:hover {
  background: #147ce5;
}

.btn.ghost5 {
  color: #000;
}

/* 이미지 영역 */
.ipad-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -200px;
}
.ipad-image img {
  width: 110%;
  max-width: 1024px;
  height: auto;
}

/* airPods Pro 레이아웃*/

.ipad {
  min-height: 100vh;
  align-content: start;
  padding-top: 80px;
  gap: 12px;
}
/* 텍스트 영역 */
.ipad-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.title5 {
  font-size: 35px;
  font-weight: 700;
  color: #000;
}

.desc13 {
  font-size: 1.25rem;
  line-height: 1.5;
  opacity: 0.9;
  color: var(--white);
}
.desc14 {
  font-size: 17px;
  color: var(--gray);
}

/* 버튼 영역 - Flex */
.actions {
  display: flex;
  gap: 12px;
  margin-top: 4px;
  z-index: 10;
  position: relative;
}

.btn {
  padding: 8px 16px;
  font-size: 0.875rem;
  border-radius: 999px;
  text-decoration: none;
  transition: 0.2s;
}

.btn.primary6 {
  background: #0071e3;
  color: #fff;
}

.btn.primary:hover {
  background: #147ce5;
}

.btn.ghost6 {
  color: #0071e3;
}

/* 이미지 영역 */
.ipad-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -200px;
}
.ipad-image img {
  width: 100%;
  max-width: 1024px;
}
